    <div id='toolbar'>
      <div id='header'>
        <h1><a href="/">Clarity</a>  <span class='small'><%= @hostname %></span></h1>
      </div>

      <form id='search' method='get' action='<%= relative_root %>/perform'>
      <table class='actions'>
        <tr>
          <th>Action</th>
          <th>Log File</th>
          <th colspan=5>
            Search Terms
            <span class='note'><a href='#' onclick='Search.clear(); return false;'>clear</a></span>
          </th>
          <th> </th>
        </tr>
        <tr>
          <td id='tool-selector'>
            <input type='radio' name='tool' value='grep' id='grep-tool' checked='checked'> <span class='label' id='grep-label'>Search</span> <br/>
            <input type='radio' name='tool' value='tail' id='tail-tool'> <span class='label' id='tail-label'>Tail</span> <br/>
          </td>
          <td id='file-selector'>
            <select id='file-list' name='file'>
              <% logfiles.map do |f| %>
                <%= "<option value='#{f}'>#{f}</option>\n" %>
              <% end %>
            </select>
          </td>
          <td>
            <input type='text' id='term1' name='term1' />
          </td>
          <td> <span class='and'>AND</span> </td>
          <td>
            <input type='text' id='term2' name='term2' />
          </td>
          <td> <span class='and'>AND</span> </td>
          <td>
            <input type='text' id='term3' name='term3' />
          </td>
          <td>
            <input type='submit' value='Submit' onclick="Search.submit(); return false;"/>
          </td>
          <td>
          </td>
        </tr>
      </table>
      </form>
    </div>


    <div id="option-ctrl">
      <ul>
        <li><input type='checkbox' name='enable_scrolling' id='auto-scroll'/><label for='auto-scroll'>Auto scroll?</label></li>
      </ul>
    </div>

    <script>
        Search.url = "<%= relative_root %>" + Search.url;
        Search.init({ 'grep': <%= logfiles.map {|f| f }.to_json %>,
                      'tail': <%= logfiles.map {|f| f }.to_json %> },
                      <%= params.empty? ? 'null' : json_encode(params) %> );
    </script>
